/* Custom reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

form button,
label,
input,
select,
progress,
meter {
	display: block;
	font-family: inherit;
	font-size: 100%;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}
/* End of Custom reset */

@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

main > section {
  padding: 2rem 3rem 5rem;
}

header,
main > section h1,
main > section h2 {
  font-family: "Playfair Display", sans-serif;
}

main > section h1 {
  font-size: 2rem;
}

.about-me {
  position: relative;
}

.about-me .diagonal {
  background-color: #0891b2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 45vh;
  z-index: -1;
  transform: skewY(-11deg) translateY(-6rem);
}

.about-me .image {
  position: relative;
  float: left;
  margin-right: 1rem;
}

.about-me .image > header {
  color: white;
  font-size: 2.75rem;
  text-align: center;

  width: 100%;
  position: absolute;
  bottom: 0.5rem;
  z-index: 10;
}

.about-me img {
  width: 350px;
  height: auto;
}

.about-me > .content {
  background-color: #FFFFFF;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 2rem 1.75rem;
  margin-top: 2rem;
}

.about-me > .content > *:not(.icons) {
  margin-bottom: 2rem;
}

.about-me > .content > p {
  line-height: 1.5;
  color: #5a5a5a;
}

.about-me .icons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.about-me .icons > a {
  text-decoration: none;
}

.about-me .icons img {
  width: 20px;
  height: 20px;
}

.my-work > h1 {
  margin-bottom: 1rem;
}

.my-work > .projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 3rem;
}

.my-work .project {
  max-width: 250px;
  height: 280px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.my-work .project .placeholder {
  display: flex;
  align-items: center;
  font-family: "Playfair Display", sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #FFFFFF;
  background-color: #0891b2;
  padding: 1rem 1.5rem;

  /* only 2 things that matter when real image */
  height: 160px;
  width: auto;
}

.my-work .content {
  padding: 0.5rem 1rem;
}

.my-work .content .header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-work .header h2 {
  font-size: 1.1rem;
  margin-right: auto;
}

.my-work .header a {
  text-decoration: none;
  width: 15px;
  height: 15px;
}

.my-work .header a img {
  width: 15px;
  height: 15px;
}

.my-work .content p {
  font-size: 0.8rem;
  color: #5a5a5a;
}

@media screen and (max-width: 900px) {
  .about-me .image > header {
    bottom: auto;
    top: 1.5rem;
    right: -80%;
  }

  .about-me > .content {
    margin-top: 5rem;
    margin-left: 2rem;
  }

  .about-me > .content > h1 {
    padding-top: 3.5rem;
    text-align: center;
  }

  .about-me > .content > *:not(.icons) {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 700px) {
  main > section {
    padding: 1rem;
  }

  .about-me .image > header {
    top: auto;
    right: auto;
    bottom: 0.5rem;
  }

  .about-me .image {
    float: none;
    max-width: 350px;
    margin: 0 auto 1rem;
  }

  .about-me img {
    width: 100%; /* it synchros with .image max-width */
    /* so the img shrinks(doesn't work with picture element because */
    /* the img src gets changed and not the picture element) */
  }

  .about-me > .content {
    margin-top: 0;
    margin-left: 0;
    padding: 0.5rem; /* TODO: fix padding and remove box shadow */
  }

  .about-me > .content > *:not(.icons) {
    margin-bottom: 0.75rem;
  }

  .about-me > .content > h1 {
    padding-top: 0;
  }

  .about-me .icons {
    justify-content: center;
  }

  .my-work > h1 {
    text-align: center;
  }
}
