/* Custom reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

form button,
label,
input,
select,
progress,
meter {
	display: block;
	font-family: inherit;
	font-size: 100%;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}
/* End of Custom reset */

@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
}

.container {
  max-width: 1000px;
  margin: 0 auto;

  position: relative; /* For the ::before part of .about-me section */
}

main > section {
  padding: 2rem 3rem;
}

main > section h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 2rem;
}

.about-me::before {
  content: "";
  background-color: #0891b2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: skewY(-11deg) translateY(-6rem);
}

.about-me .image {
  position: relative;
  width: fit-content;
  float: left;
  margin-right: 1rem;
}

.about-me .image > header {
  color: white;
  font-family: "Playfair Display", sans-serif;
  font-size: 2.75rem;
  text-align: center;

  width: 100%;
  position: absolute;
  bottom: 0.5rem;
  z-index: 10;
}

.about-me img {
  width: 350px;
  height: auto;
}

.about-me > .content {
  background-color: #FFFFFF;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 2rem 1.75rem;
  margin-top: 2rem;
}

.about-me > .content > *:not(.icons) {
  margin-bottom: 2rem;
}

.about-me > .content > p {
  line-height: 1.5;
  color: #5a5a5a;
}

.about-me .icons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.about-me .icons > a {
  text-decoration: none;
}

.about-me .icons svg {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 900px) {
  .about-me > .content > h1 {
    padding-top: 3.5rem;
  }

  .about-me > .content {
    margin-top: 5rem;
    margin-left: 2rem;
  }

  .about-me .image > header {
    top: 1.5rem;
    right: -80%;
  }

  .about-me > .content > *:not(.icons) {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 700px) {
  
}
